<nav class="mt-4 mb-5 bg-light">
    <ol class="breadcrumb p-3">
        <li class="breadcrumb-item"><a routerLink="/">Home </a></li>
        <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos </a></li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md-9">
        <h1 class="h2 border-left pl-2">{{ pageTitle }}</h1 >
    </div>
    <div class="col-md">
        <a class="btn btn-secondary float-end" routerLink="/entries"><< Voltar</a>
    </div>
</div>

<form [formGroup]="form" (submit)="handleSubmit()">
    <div class="card">
        <div class="card-header">
            Informações sobre o lançamento
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="type">Tipo</label>
                    <select name="type" id="type" formControlName="type" class="form-control">
                        <option value="expense">Despesa</option>
                        <option value="revenue">Receita</option>
                    </select>
                    <div class="text-danger" *ngIf="form.controls['type'].invalid && form.controls['type'].touched">
                        <div *ngIf="form.controls['type'].errors?.required">Campo obrigatório!</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="description">Lançamento</label>
                    <input type="text" name="description" id="description" class="form-control" formControlName="description">
                    <div class="text-danger" *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
                        <div *ngIf="form.controls['description'].errors?.required">Campo obrigatório!</div>
                        <div *ngIf="form.controls['description'].errors?.minlength">No mínimo 2 caracteres!</div>
                    </div>
                </div> 
                <div class="form-group col-md-4">
                    <label for="amount">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                R$
                            </div>
                        </div>
                        <input [imask]="imaskConfig" type="text" name="amount" id="amount" class="form-control text-end" formControlName="amount">
                    </div>
                    <div class="text-danger" *ngIf="form.controls['amount'].invalid && form.controls['amount'].touched">
                        <div *ngIf="form.controls['amount'].errors?.required">Campo obrigatório!</div>
                     </div>
                </div> 
                <div class="form-group col-md-2">
                    <label for="date">Data</label>
                    <p-calendar
                        id="date"
                        formControlName="date"
                        inputStyleClass="form-control bg-light text-dark border-light height: 38px"
                        [inputStyle]="{'height':'35px'}"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        [locale]="ptBR"
                        [showButtonBar]="true">
                    </p-calendar>
                    <div class="text-danger" *ngIf="form.controls['date'].invalid && form.controls['date'].touched">
                        <div *ngIf="form.controls['date'].errors?.required">Campo obrigatório!</div>
                     </div>
                </div> 
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" class="form-control" formControlName="name">
                    <div class="text-danger" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                        <div *ngIf="form.controls['name'].errors?.required">Campo obrigatório!</div>
                        <div *ngIf="form.controls['name'].errors?.minlength">No mínimo 2 caracteres!</div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="description">Descrição</label>
                    <input type="text" name="description" id="description" class="form-control" formControlName="description">
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages.length > 0">
        <strong>Erro no servidor:</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary btn-lg float-end ">Salvar</button>
    
</form>

